<style>
	.left button {
		margin: 10px 0px;
		padding: 9px;
	}
</style>
<div class="page-content">
	<div class="left">
		<form method="POST">
			<label>Nom :</label><input ng-model="nom" type="text" class="form-control" name="nom" id="nom">
			<label>Prénom :</label><input ng-model="prenom" type="text" class="form-control" name="prenom" id="prenom">
			<label>CIN</label><input ng-model="cni" type="text" class="form-control" name="cni" id="cni">
			<label>CNE</label><input ng-model="cne" type="text" class="form-control" name="cne" id="cne">
			<label>Tél :</label><input ng-model="tel" type="text" class="form-control" name="tel" id="tel">
			<label>Adresse :</label><textarea ng-model="adresse" rows="6" class="form-control" name="adresse" id="adresse"></textarea>
			<button class="btn-primary" id="btn-send" ng-click="save()">Envoyer</button>
		</form>
		<div class="alert alert-success">{{msg}}</div>
	</div>
	<div class="right">
		<table class="table table-hover table-striped">
			<tr>
				<th>NOM</th>
				<th>Prénom</th>
				<th>CIN</th>
				<th>CNE</th>
				<th>Tél</th>
				<th>Adresse</th>
			</tr>
			<tbody ng-repeat="student in data">
			<tr>
				<td>{{student.nom}}</td>
				<td>{{student.prenom}}</td>
				<td>{{student.cni}}</td>
				<td>{{student.cne}}</td>
				<td>{{student.tel}}</td>
				<td>{{student.adresse}}</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>
<!--END CONTENT-->